.DS_Store
.idea
paho*
backend-misc/db/*
backend-misc/prometheus/data/*
backend-misc/mosquitto/data/*
backend-misc/mosquitto/log/*
backend-misc/mosquitto/venv/*

/microservices/user-service/target/
/microservices/shared-libs/target/
/microservices/notification-service/target/
/microservices/media-analysis-service/target/
/microservices/home-service/target/
/microservices/file-storage-service/target/
/microservices/device-service/target/
/microservices/api-gateway/target/
