.DS_Store
.idea
paho*
utils/db/*
utils/prometheus/data/*
utils/mosquitto/data/*
utils/mosquitto/log/*
utils/mosquitto/venv/*

/microservices/user-service/target/
/microservices/shared-libs/target/
/microservices/notification-service/target/
/microservices/media-analysis-service/target/
/microservices/home-service/target/
/microservices/file-storage-service/target/
/microservices/device-service/target/
/microservices/api-gateway/target/
microservices/apollo-k8s/kubectl
