<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Default configuration for non-Kubernetes environments -->
    <springProfile name="!kubernetes">
        <include resource="logback-default.xml"/>
    </springProfile>
    
    <!-- Kubernetes-specific configuration -->
    <springProfile name="kubernetes">
        <include resource="logback-kubernetes.xml"/>
    </springProfile>
    
</configuration>