<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <springProperty scope="context" name="logLevel" source="LOG_LEVEL" defaultValue="INFO"/>
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${logLevel}">
        <appender-ref ref="CONSOLE"/>
    </root>
    
    <logger name="ro.faur.apollo" level="${logLevel}" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.cloud.gateway" level="INFO"/>
    <logger name="org.springframework.cloud.openfeign" level="INFO"/>
    
<!--    <logger name="org.hibernate.SQL" level="DEBUG"/>-->
<!--    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>-->
<!--    <logger name="org.springframework.jdbc.core" level="DEBUG"/>-->
    
<!--    <logger name="feign" level="DEBUG"/>-->
    <logger name="org.apache.http" level="INFO"/>
    
    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="org.eclipse.paho" level="INFO"/>
    <logger name="io.minio" level="INFO"/>
    
</configuration> 